<h1>Message</h1>
<p>Send a message to <%= @message.group.name %></p>
<%= form_for @message, :url =>  { :action => "deliver" } do |f| %>
<%= f.label :message %>
<%= f.text_field :message %>
<%= f.hidden_field :group_id %>
<%= f.submit %>
<% end %>
