
<% if @fbMessageExists %>
   <div id="fbgroup">
     <div id="fbMessage" ><%= @fbMessage %></div>
     <div id="fbGroupIds" ><%= @fbGroupIds %></div>
   </div>
<% end %>

<div class="row-fluid">
  <div class="span11">
    <h1>Message</h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span11">
    <p>Send a message to <%= @message.group.name %></p>
    <% if @fbMessageExists %>
    <p>Facebook restricts the ability to automatically post information to a group.  Consequently, you'll need to enter your message twice.  Once in the Facebook "Share" window, and then again a second time in the NotifyMyClub fields.<a class="openwindow" href="/help/fb_send" title="How to add a Facebook Group" ><span class="glyphicon glyphicon-info-sign"></span></a></p>
   <div id="fbgroup">
     <div id="fbMessage" ><%= @fbMessage %></div>
     <div id="fbGroupIds" ><%= @fbGroupIds %></div>
   </div>
<% end %>
    <p>The Text message is required.  This will be used for text messages and email.  If the Phone message isn't specified, then the text message will be used for Text, Phone and Email.</p>
  </div>
</div>
<%= form_for @message, :url =>  { :action => "deliver" } do |f| %>
<div class="row-fluid">
  <div class="span11">
    <%= f.label :message, "Text Message (Required)" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span11">
    <%= f.text_field :message, :maxlength => 200 %>
   </div>
</div>
<div class="row-fluid">
  <div class="span11">
    <%= f.label :phone_message, "Phone message (Optional)"  %>
  </div>
</div>
<div class="row-fluid">
  <div class="span11">
    <%= f.text_field :phone_message %>
   </div>
</div>
<div class="row-fluid">
  <div class="span11">
    <%= f.hidden_field :group_id %>
  </div>
</div>
<div class="row-fluid">
  <div class="span11">
    <%= f.submit %>
  </div>
</div>
<% end %>
