<%= nested_form_for @group do |f| %>
  <%= f.error_messages %>
  <fieldset>

  <p class="resetLayout">

    <legend>New Group</legend>
    <p class="resetLayout">

    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    </div>
    <%= f.hidden_field :user_id %>
  </p>
  <% if current_user.admin? %>
       <p>
	 Owned by: 
	 <%= f.collection_select :user_id, User.all(:order => "email"), :id, :email, :include_blank => true %>

       </p>
  <% end %>
  </fieldset>


<fieldset>
    <legend>Sponsor Info</legend>
    <%= f.label :sponsor_email %>
    <%= f.text_field :sponsor_email %>
    <p>You don't have to have a sponsor; if you don't have one, your messages will be supported by one of our other advertisers.</p>
  </fieldset>
  <fieldset>
    <legend>Members</legend>
    <%= f.fields_for :contacts do |c| %>
       <%= c.text_field :name %>
    <% end %>
    <p>Upload a list of members <%= f.file_field :bulk_upload %></p>
    <p><%= f.link_to_add "Add a contact", :contacts %></p>
  <p><%= f.submit %></p>
  </fieldset>


<% end %>
