<%= form_for @group do |f| %>
  <%= f.error_messages %>
  <p class="resetLayout">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id %>
  </p>
    <% if current_user.admin? %>
  <p>
    Owned by: 
    <%= f.collection_select :user_id, User.all(:order => "email"), :id, :email, :include_blank => true %>

  </p>
<% end %>
  <p><%= f.submit %></p>
<% end %>
