<div class="container-fluid" width="100%">

<%= nested_form_for @group do |f| %><br/>

<%= f.error_messages %><br/><br/>
<div>	
<fieldset>

      <p class="resetLayout">
	<div class="row-fluid">
    <div class="span10">
    <legend>New Group</legend>
    </div>
  <div class="row-fluid">
    <div class="span10">
      <%= f.label :name %>
    </div>
   </div>
  <div class="row-fluid">
    <div class="span10">
      <%= f.text_field :name %>
    </div><br/><br/><br/>
    </div>
  <div class="row-fluid">
    <div class="span10">
      <%= f.label :description %></div></div>
   <div class="row-fluid">
     <div class="span10">
       <%= f.text_field :description %>
    </div>
   </div>
    <%= f.hidden_field :user_id %>
  </p>
  <% if current_user.admin? %>
  <p>
    Owned by: 
    <%= f.collection_select :user_id, User.all(:order => "email"), :id, :email, :include_blank => true %>

  </p>
  <% end %>
</fieldset>
</div>
<div class="row-fluid">
<fieldset>
    <legend>Sponsor Info</legend>
    <%= f.label :sponsor_email %>
    <%= f.text_field :sponsor_email %>
    <p>You don't have to have a sponsor; if you don't have one, your messages will be supported by one of our other advertisers.</p>
  </fieldset>
  <fieldset>
    <div class="span2">
    <legend>Members</legend>
    <%= f.fields_for :contacts do |c| %>
       <%= c.text_field :name %>
    <% end %></div>
    <p>Upload a list of members <%= f.file_field :bulk_upload %></p>
    <p><%= f.link_to_add "Add a contact", :contacts %></p></ br></div>
<div class=row-fluid">
<p><div class="CGbuttonalign" >  <%= f.submit %>

</p></div>
  </fieldset></div>
</div>
<% end %>

