<% title "Groups" %>

<% form_tag groups_path, :method => 'get' do %>
<p> 
  <%= text_field_tag :search %>
  <%= submit_tag "Search", :name => nil %>
</p>

<% end %>
<% if @subscriber.nil? %>
<div class="resetLayout" >
<p>You have no groups assigned.  
Join Groups or <%= link_to "become a premium member to create a  group.", new_subscription_path %></p>

</div>
<% end %>
Groups I'm in : <%= @myGroups.length %>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Contact Email</th>
  </tr>
  <% for group in @groups %>
    <tr>
      <td>
	<% if !@myGroups.include?( group) %>
	"Join Group"
	<% else %>
	Member
	<% end %>
      </td>
      <td><%= group.name %></td>
      <td><%= group.user.email unless group.user.nil? %></td>
      <td><%= link_to "Show", group %></td>
      <td><%= link_to "Edit", edit_group_path(group) %></td>
      <td><%= link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>



<% unless @subscriber.nil? %>
<p><%= link_to "New Group", new_group_path %></p>
<% end %>
