<% title "Groups" %>

<% form_tag groups_path, :method => 'get' do %>
<p> 
  <%= text_field_tag :search %>
  <%= submit_tag "Search", :name => nil %>
</p>

<% end %>
<% unless current_user.subscribed? %>
<div class="resetLayout" >


<% end %>
<div class="row-fluid">
  <div class="span11">
   <b> Groups I'm in : <%= @myGroups.length %></b>
  </div>
</div>
<div class="row-fluid">
<div class="colA span6">
 <div class="row-fluid">
  <div class="span2">&nbsp
  </div>
   <div class="span8" text-align="center">
    &nbsp <b>Group Name</b>
   </div>
   <div class="span2">&nbsp
     </div>
  </div>
<div class="row-fluid">
  <% for group in @groups %>
	<% if !@myGroups.include?( group) %>
	<div class="span2">"Join Group"
	  </div>
	<% else %>
	<div class="span2">Member
	  </div>
	<% end %>
        <div class="span8">  <%= group.name %>
 </div>
<div class="span2">&nbsp
  </div>
</div>
</div>
<div class="colD span5">
 <div class="row-fluid">
  <div class="span11" text-align="center">
    <b>Contact Email</b>
   </div>
  </div>
 <div class="row-fluid">
   <div class="span11">
      <%= group.user.email unless group.user.nil? %>
   </div>
  </div>
</div>
</div>
<br/>
<div class="row-fluid">
  <div class="span2">
      <%= link_to "Show", group %>&nbsp
      </div>
      <div class="span2">|&nbsp
      </div>
  <div class="span2">
     <%= link_to "Edit", edit_group_path(group) %>&nbsp
     </div>
     <div class="span2">|&nbsp
     </div>
  <div class="span2">
      <%= link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete %>
     <% end %> 
</div>
</div>





<% unless @subscriber.nil? %>
<p><%= link_to "New Group", new_group_path %></p>
<% end %>
</div>
</div>
