<% title "Groups" %>

<div class="resetLayout" >
  
  <div class="row-fluid">
    <div class="ColA span6Group">
      <b> Groups I'm in : <%= @myGroups.length %></b>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table>
      <th>Group Name</th>


      <% for group in @groups %>
      <tr>
          <td><%= link_to group.name, group %></td>
	    <% if current_user && current_user.admin? %>
	  <td><%= group.user.email unless group.user.nil? %></td>
	  <td>

	    |<%= link_to "Edit", edit_group_path(group) %>
	    |<%= link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete %>
	    <% end %>
	  </td>

      </tr>
      <% end %>
      </table>
    </div>
  </div>

  <p><%= link_to "New Group", new_group_path %></p>


</div>
