<% title "Groups" %>


<% if @groups.empty? %>
<p>You have no groups assigned.  
Join Groups or become a premium member to create a group</p>
<%= link_to("Premium") %>
<% else %>
<table>
  <tr>
    <th>Parent</th>
    <th>Name</th>
    <th>Contact Email</th>
  </tr>
  <% for group in @groups %>
    <tr>
      <td><%= group.parent_id %></td>
      <td><%= group.name %></td>
      <td><%= group.user.email unless group.user.nil? %></td>
      <td><%= link_to "Show", group %></td>
      <td><%= link_to "Edit", edit_group_path(group) %></td>
      <td><%= link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<% end %>
<% if current_user.admin? %>
<p><%= link_to "New Group", new_group_path %></p>
<% end %>
