<% title "Group" %>

<h3><%= link_to "Send this group a message", :controller => "messages", :action => "new", :id => @group.id %></h3>
<p>
  <strong>Parent:</strong>
  <%= @group.parent_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @group.user.email %>
</p>
<ul>
<% @contacts.each do |c| %>
<li><%= link_to c.name, edit_contact_path %> : <%= c.phone %>
<% end %>
</ul>
<%= link_to "Add a new contact", new_contact_path( :group_id => @group.id ) %>
<p>
  <%= link_to "Edit", edit_group_path(@group) %> |
  <%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", groups_path %>
</p>
