<div class="container-fluid">
 <div class="row-fluid">
  <div class="span11">
    <h3 class="resetLayout" ><%= link_to "Send this group a message", :controller => "messages", :action => "new", :id => @group.id %></h3>
  </div>
 <div class="row-fluid">
  <div class="colA span5" float="left">
    <div class="row-fluid">
      <div class="span11">
    <p>
     <strong>Name:</strong>
  <%= @group.name %>
    </p>
    </div>
  </div>
    <div class="row-fluid">
      <div class="span11">
	<p>
	<strong>Contact Email:</strong>
  <%= @group.user.email %>
</p>
      </div>
    </div>
   </div>
  <div class="colC span6">
    <div class="row-fluid">
      <div class="span11">
	<table>
	  <% @group.contacts.each do |c| %>
	  <tr><td><%= button_to "X", { :action => "remove_contact", :id => @group.id,  :contact_id => c.id }, :method => :put %></td><td><%= link_to c.name, edit_group_contact_path(@group, c) %></td><td><%= c.entry %></td></tr>
	  <% end %>
         </table>
      </div>
      </div>
    <div class="row-fluid">
      <div class="span11">
	<p> Upload list of members of your group</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6" float="left">
	<input id="group_bulk_upload" name="group[bulk_upload]" class="button" type="file"><br/><br/>
        </input>
      </div>
      </div>
    <div class="row-fluid">
     <div class="span11" align="center">
       <% if @group.user_id == current_user.id %>
       <%= link_to "Add a new contact", new_group_contact_path(@group ) %>
       <% end %>
     </div>
    </div>
    <p>
      <div class="span4"  align="left">
	<%= link_to "Edit", edit_group_path(@group) %> |
	</div>
      <div class="span4"  align="left">
	<%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
	</div>
      <div class="span3"  align="left">
	<%= link_to "View All", groups_path %>
	</div>
      </div>
      </p>
     </div>
 </div>
</div>
