<% title "Group" %>

<p>
  <strong>Parent:</strong>
  <%= @group.parent_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @group.contact_email %>
</p>
<ul>
<% @contacts.each do |c| %>
<li><%= c.name %> : <%= c.phone %> </li>
<% end %>
</ul>
<p>
  <%= link_to "Edit", edit_group_path(@group) %> |
  <%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", groups_path %>
</p>
