
<h3 class="resetLayout" ><%= link_to "Send this group a message", :controller => "messages", :action => "new", :id => @group.id %></h3>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @group.user.email %>
</p>
<table>
<% @group.contacts.each do |c| %>
<tr><td><%= button_to "X", { :action => "remove_contact", :id => @group.id,  :contact_id => c.id }, :method => :put %></td><td><%= link_to c.name, edit_group_contact_path(@group, c) %></td><td><%= c.entry %></td></tr>
<% end %>
</table>
<input id="group_bulk_upload" name="group[bulk_upload]" class="button" type="file">
</input>

<% if @group.user_id == current_user.id %>
<%= link_to "Add a new contact", new_group_contact_path(@group ) %>
<% end %>

<p>
  <%= link_to "Edit", edit_group_path(@group) %> |
  <%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", groups_path %>
</p>
</div>
