<div class="container-fluid">
  <div class="row-fluid">
    <div class="span11">
      <%= link_to "Send this group a message", group_messages_new_path(@group), :id => "sendpost" %>
    </div>
  </div>    
<% flash.each do |key, msg| %>
<div id="flash_<%= key %>">
  <p><%= msg %></p>
</div>
<% end %>
  <div class="row-fluid">
    <div class="col-md-6" float="left">
      <div class="row-fluid">
	  <strong>Name:</strong>
	  <%= @group.name %>
	</p>
      </div>
      <div class="row-fluid">
	<p>
	  <strong id="admin_label">Admin Emails:</strong>
	  <ul>
	  <% @group.users.each do |u| %>
	  <li><%= u.email %></li>
	  <% end %>
	  </ul>
	  <p><a id="add_contact">Add another admin</a><input id="new_contact" type="text"/><button id="new_contact_save" class="btn">Add</button></p>
	</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row-fluid">

	<% if @group.contacts.size > 0 %>
	<table id="contacts">
	  <th></th>
	  <th>Name</th>
	  <th>Value</th>
	  <th>Type</th>
	  <% @group.contacts.each do |c| %>
	  <tr><td><%= link_to image_tag('delete.png'), groups_remove_contact_path(:id => @group, :contact_id => c) %></td>
	    <td><%= link_to c.name, edit_group_contact_path(@group, c) %></td><td><%= c.entry %></td>		<td><%= c.identify %></td></tr>
	  <% end %>
        </table>
	<% end %>
      </div>
      <div class="row-fluid">
	<p style="max-width:100%">Click on "Add a new contact" to add contacts for this group.  Contacts can be a Phone number for voice or text; an email, or a Facebook group</p>
	<% if @group.users.includes(current_user) %>
	<%= link_to "Add a new contact", new_group_contact_path(@group ) %>
	<% end %>
      </div>
    </div>
  </div>
</div>

