
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div >
  <h1><%= current_user.email %></h1>
</div>

<% flash.each do |key, msg| %>
<div id="flash_<%= key %>">
  <p><%= msg %></p>
</div>
<% end %>

<div class="col-md-6" align="center" >
  <h1>Group Admin</h1>
  <%= link_to "Add a New Group", new_group_path %>
  <ul>
    <% @groups.each do |g| %>
    <li><%= link_to g.name, user_group_path(current_user, g) %></li>
    <% end %>
  </ul>
</div>
<div class="col-md-6" float="center">
  <h1> Join Existing Group</h1>
  <h4>Start typing below to find your group</h4>
  <div class="center-wrapper">
  <input class="typeahead" type='text' id="groupsearch_user" icon="favicon.gif" placeholder="Group Name">
  </div>
</div>





