<% title "User" %>
<%= current_user.email %>
<ul>


<li>Groups I Maintain
<ul><%= link_to "Add a Group", new_user_group_path(current_user) %></ul>
<% if current_user.groups.empty? %>
<p>You have no groups</p>
<% else %>
<ul>
<% @groups.each do |group| %>	
<li><%= link_to group.name, group %></li>
<% end %>
</ul>
<% end %>
</li>
<li>Groups I Follow 
  <ul>
    <% @following.each do |group| %>
    <li><%= group.name %></li>
    <% end %>
  </ul>
</li>
<li>Contacts
<ul>
<%= render current_user.contacts%>
</ul>
</li>
<li>All other Groups (Click to Join)
<ul>
   <% @otherGroups.each do |group| %>
      <li><%= link_to group.name,  group_path(group) %> - <a id="addContactBtn<%=group.id%>" href="#">Join</a>

      </li>
     <% end %>
</ul>
</li>

<div id="addContactPopup">
</div>
