<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="contactlist">
</div>
<div >
  <h1><%= current_user.email %></h1>
</div>

<% flash.each do |key, msg| %>
<div id="flash_<%= key %>">
  <p><%= msg %></p>
</div>
<% end %>

<div class="col-md-4" align="center" >
  <h1>My Groups</h1>
  <%= link_to "Add a New Group", new_group_path %>

  <ul class="list-group">
    <% current_user.mygroups.each do |g| %>
    <li class="list-group-item"><%= group_link(current_user, g) %></li>
    <% end %>
  </ul>

</div>
<div class="col-md-4" float="center">
  <h1> Join Existing Group</h1>
  <h4>Start typing below to find your group</h4>
  <div class="center-wrapper">
  <input class="typeahead" type='text' id="groupsearch_user" placeholder="Group Name">
  </div>
</div>
<div class="col-md-4" float="center">

  <h1> My Contacts</h1>
  <h4>The contact methods I have registered<a class="openwindow" href="/add_registered.html#top" title="Registered Contacts" ><span class="glyphicon glyphicon-info-sign"></span></a></h4>
  <div id="list">
  <ul class="list-group">
  <% @verified_contacts.each do |c| %>
  <li class="list-group-item" ><%= c %>Verified</li>
  <% end %>
  <% @contacts.each do |c| %>
  <li class="list-group-item" ><%= c %><%= contact_send_verification(c) %></li>
  <% end %>
  </ul>
  </div>


</div>





