<div class="container-fluid">
<div class="fullCol">
<h2>Sign up</h2>

<div class="span11">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %></div>

 <div class="row-fluid" align="center"> <%= devise_error_messages! %></div><br /><br />

  <div class="row-fluid"> 
   <div class=span11">
     <%= f.label :email %><br />
	</div>
    </div>
  <div class="row-fluid">
    <div class="span11">
  <%= f.email_field :email %>
      </div>
    </div>
  <div class="row-fluid">
    <div class="span11">
      <%= f.label :password %><br />
    </div>
  </div>
 <div class="row-fluid">
   <div class="span11">
   <%= f.password_field :password %>
   </div>
 </div>

  <div class="row-fluid">
    <div class="span11">
      <%= f.label :password_confirmation %><br />
      </div>
    </div>
 <div class="row-fluid">
   <div class="span11">
     <%= f.password_field :password_confirmation %><br />
     </div>
   </div>
<div class="row-fluid>
 <div class="span11">
 <%= f.submit "Sign up" %>
  <% end %>
  </div>
</div>
<%= render :partial => "devise/shared/links_sans_signin" %>
</div>
</div>
