<div class="fullCol">
<%= form_for([@sponsor,@advertisement], :url => {:action => 'create'}) do |f| %>
<%= f.label :message %>
<%= f.text_field :message %>
<br />
<%= f.label :html_message %>
<%= f.text_field :html_message %>
<br />
<%= f.label :phone_message %>
<%= f.text_field :phone_message %>
<br />
<%= f.submit "Save" %>
<% end %>
</div>

