<h1>Sponsor</h1>
<% flash.each do |key, msg| %>
<div id="flash_<%= key %>">
  <p><%= msg %></p>
</div>
<% end %>
<div class="accordion" id="accordion2">
  <% @sponsors.each do |s| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=s.id%>">
	<p><%= s.name %></p>

      </a>
    </div>
    <div id="collapse<%=s.id%>" class="accordion-body collapse">
      <div class="accordion-inner">
	<div class="PrettyTable">
	<table>
	  <tr>
	    <th>Email</th>
	    <th>Phone</th>
	    <th>Active?</th>
	    <th>Messages Sent this month</th>
	    <th>Messages Allowed / Month</th>
	  </tr>
	  <tr>
            <td><%=s.email %></td>
            <td><%= s.phone %></td>
	    <td><%= s.active %></td>
	    <td><%= s.messages_sent %></td>
	    <td><%= s.messages_allowed %></td>
	  </tr>
	</table>
	</div>
	<h4>Advertisements&nbsp;<%= link_to new_sponsor_advertisement_path(s) do %><span class="glyphicon glyphicon-plus"></span><% end %></h4>
	<ul>

	  <% s.advertisements.each do |a| %>
	  <div>
	  <%= link_to( sponsor_advertisement_path(s,a), method: :delete, data: { confirm: 'Are you sure?' }) do %><span class="glyphicon glyphicon-trash"></span><% end %>
	  <%= link_to edit_sponsor_advertisement_path(s,a) do %><span class="glyphicon glyphicon-edit"></span><% end %>
	      <%= a.message %>
	      <span class="adtext" title="<%= a.html_message %>"><span class="glyphicon glyphicon-header"></span></span>
	      <span class="adtext" title="<%= a.phone_message %>"><span class="glyphicon glyphicon-earphone"></span></span>
	      </div>
	  <% end unless s.advertisements.empty? %>
	</ul>
      </div>
    </div>
  </div>

  <% end unless @sponsors.nil? %>
