<div class="fullCol">
<%= form_for [@group, @new_sponsor] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br />
<%= f.label :email %>
<%= f.text_field :email %>
<br />
<%= f.label :phone %>
<%= f.text_field :phone %>
<br />
<%= fields_for @contribution do |contr| %>
<%= contr.label :amount %>
<%= contr.text_field :amount %>
<% end %>
<%= f.submit "Save" %>
<% end %>
</div>
