
<div id="addTypes" >
<div class="resetLayout" >
  <%= form_for @contact, :validate => true do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :user_id %>
    <% unless @group.nil? %>
       <%= f.fields_for @group do |fd| %>
       <%= fd.hidden_field :id %>
       <% end %>
    <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
  Preferred method of contact
  <%= f.select "type", options_for_select(Contact.select_options) %>
</p>
 <p>
    <label id="entryLabel" for="entry">Entry Number or email address</label><br />
    <%= f.text_field :entry %>
  </p>
  <p><%= f.submit %></p>
<% end %>
</div>
</div>
