<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready( function() {
jQuery("#new_contact").validate({
		rules: {
			phone: {
				required: true,
				email: true
			}
		},
		messages: {
			phone: "Please enter a valid email address"
		}
	});

    jQuery("#phoneLabel").text("Please enter a valid " + jQuery("#contactOptions").val());
    jQuery("#contactOptions").change( function () {
	jQuery("#phoneLabel").text("Please enter a valid " + jQuery(this).val());
      });
  });
</script>
<div id="addTypes" >
<a>Add a contact manually</a>
<div >
<%= form_for @contact do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :user_id %><br />

  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
  Preferred method of contact
<select id="contactOptions">
  <option>Email</option>
  <option>Phone</option>
  <option>SMS</option>
</select>
</p>
 <p>
    <label id="phoneLabel" for="phone">Phone Number or email address</label><br />
    <%= f.text_field :phone %>
  </p>
  <p><%= f.submit %></p>
<% end %>
</div>
</div>
