
<div id="addTypes" >
<div class="resetLayout" >
  <%= form_for @contact, :url => group_contacts_path(@group), :validate => true do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :user_id %>
    <% unless @group.nil? %>
       <%= f.fields_for @group do |fd| %>
       <%= fd.hidden_field :id %>
       <% end %>
    <% end %>
 <div class="row-fluid">
   <%= f.label :name %> <%= f.text_field :name %> 
   
</div>
   <div class="row-fluid">
   <div class="span3">
     Preferred method of contact
   </div>
    <div class="span4" float="left">
      <%= f.select "type", options_for_select(Contact.select_options) %>
      </p>
     </div>
  </div>
 <div class="row-fluid">
     <label id="entryLabel" for="entry">Entry Number or email address</label>
 </div>
 <div class="row-fluid">
   <div class="span11">
    <%= f.text_field :entry %>
   </div>
 </div>
 <div class="row-fluid">
   <div class="span11" float="left">
     <p><%= f.submit %></p>
     <% end %>
   </div>
 </div>
</div>
</div>
