<script type="text/javascript">
jQuery.noConflict();
 jQuery(document).ready( function() {
//     jQuery("#new_contact").validate({
// 	rules: {
// 	    phone: {
// 		required: function(element) {
// 		    alert("Element " );
// 		    return false;
// 		}
		
// 	    }
// 	},
// 	messages: {
// 	    contact_phone: "Please enter a valid email address"
// 	}
//     });
    
    jQuery("#phoneLabel").text("Please enter a valid " + jQuery("#contact_contact_type_id :selected").text());
    jQuery("#contact_contact_type_id").change( function () {
        selectedText = jQuery('#contact_contact_type_id :selected').text() ;
	jQuery("#phoneLabel").text("Please enter a valid " + selectedText);
    });
});
</script>
<div id="addTypes" >
<div class="resetLayout" >
    <%= form_for @contact, :validate => true do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :user_id %>
    <% unless @group.nil? %>
      <%= fields_for @group do |field| %>
        <%= field.hidden_field :id %>
      <% end %>
    <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
  Preferred method of contact
  <%= f.select "contact_type_id", options_from_collection_for_select(ContactType.find(:all), "id", "name") %>
</p>
 <p>
    <label id="phoneLabel" for="phone">Phone Number or email address</label><br />
    <%= f.text_field :phone %>
  </p>
  <p><%= f.submit %></p>
<% end %>
</div>
</div>
