<% title "Contacts" %>

<table>
  <tr>
  </tr>
  <% for contact in @contacts %>
    <tr>

      <td><%= contact.name %></td>
      <td><%= contact.entry %></td>
      <td><%= contact.type %></td>
      <td><%= link_to "Show", group_contact_path(@group, contact.becomes(Contact)) %></td>
      <td><%= link_to "Edit", edit_group_contact_path(@group, contact.becomes(Contact)) %></td>
      <td><%= link_to "Remove", [@group, contact.becomes(Contact)], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Contact", new_group_contact_path(@group) %></p>
