<% title "Contacts" %>

<table>
  <tr>
  </tr>
  <% for contact in @contacts %>
    <tr>

      <td><%= contact.name %></td>
      <td><%= contact.entry %></td>
      <td><%= contact.type %></td>
      <td><%= link_to "Show", contact.becomes(Contact) %></td>
      <td><%= link_to "Edit", edit_contact_path(contact.becomes(Contact)) %></td>
      <td><%= link_to "Destroy", contact.becomes(Contact), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Contact", new_contact_path %></p>
