<% title "Contact" %>
<ul class="nav nav-pills">
<li><%= link_to "Return to My Group", @group %></li>
</ul>
<p class="resetLayout">
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
<p>
  Contact Method <br />
  <%= @contact.identify %><br />
  <%= @contact.entry %>
</p>
<p>
  <%= edit_contact_or_group "Edit"  %> |
  <%= link_to "Delete", group_contact_path(@group, @contact), :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "| Add another contact", new_group_contact_path(@group) if @group %> 
</p>

