<% title "Contact" %>


<p class="resetLayout">
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
<p>
  Contact Method <br />
  <%= @contact.type %><br />
  <%= @contact.entry %>
</p>
<p>
  <%= link_to "Edit", edit_group_contact_path(@group, @contact) %> |
  <%= link_to "Destroy", group_contact_path(@group, @contact), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", group_contacts_path(@group) %>
</p>
