<% title "Contact" %>

<p class="resetLayout">
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
<p>
  Contact Method <br />
  <%= @contact.identify %><br />
  <%= @contact.entry %>
</p>
<p>
  <%= edit_contact_or_group "Edit"  %> |
  <%= link_to "Delete", contact_path( @contact), :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "| View All", group_contacts_path(@group) if @group %> 
</p>

