<%= form_for @subscription do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all(:order => "email"), :id, :email, :selected => current_user.id, :include_blank => true %>
  </p>
  <p><%= f.submit %></p>
<% end %>
