<div class="fullCol" >
  <div class="row-fluid">
    <div class="span11">
  <h2>Sign in</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11">
    <p>Create a free account so that you can be added to your groups distribution lists</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<% flash.each do |key, msg| %>
<div id="flash_<%= key %>">
  <p><%= msg %></p>
</div>

<% end %>
 <div class="row-fluid">
  <div class="span11"><%= f.label :email %><br />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11">
      <%= f.label :password %><br />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11">
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11">
      <%= f.check_box :remember_me %> 
      </div>
    </div>
  <div class="row-fluid">
    <div class="span11">
      <%= f.label :remember_me %>
    </div>
        <% end -%>
   </div>
  <div class="row-fluid">
    <div class="span11">
      <%= f.submit "Sign in" %>
    </div>
    <% end %>
  </div>
  <div class="row-fluid">
    <div class="span11">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>
